.background-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: opacity 0.75s ease-in-out;
    z-index: 0;
  }
  
  .background-img.active {
    opacity: 1;
    z-index: 0;
  }
  
  